apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: chenaiexpo-dev
  namespace: argocd
  labels:
    app: chenaiexpo
    environment: dev
    tenant: opsera
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/opsera-test-org/chennai-explorer.git
    targetRevision: main
    path: k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-chenaiexpo-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10
