apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- serviceaccount.yaml
- deployment.yaml
- service.yaml
- ingress.yaml

images:
- name: PLACEHOLDER_ECR_URI
  newName: 792373136340.dkr.ecr.us-west-2.amazonaws.com/opsera-chenaiexpo
  newTag: 73419f3-20260216103612
