apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- serviceaccount.yaml
- deployment.yaml
- service.yaml

images:
- name: 792373136340.dkr.ecr.us-west-2.amazonaws.com/opsera-chenaiexpo
  newName: 792373136340.dkr.ecr.us-west-2.amazonaws.com/opsera-chenaiexpo
  newTag: 152294a-20260216102227
